body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background-image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;  
    background-position: center; 
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: black;
}

#logo {
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
    font-size: 40px;
    letter-spacing: 2px;
}

header p {
    color: aqua;
    font-size: 15px;
    letter-spacing: 1px;
}

/* Keyframes for the breathing effect */
@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        opacity: 2;
    }
    50% {
        transform: scale(1.4);
        opacity: 0.6;
    }
}

#RPSLS {
    color: red;
    
    animation: breathe 2s infinite; 
}

#rules, .quantum-choices, #duel-results {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#rules p, ul {
    color: #e7e7e7;
    letter-spacing: 1px;
    margin-left: 26px;
}

#rules h2, strong {
    color: yellow;
}

#rules h2 {
    font-size: 25px;
    text-align: center;
}

.begin {
    text-align: center;
    font-size: 20px;
    margin-left: 40%;

    animation: breathe 2s infinite;  

}

.quantum-choices h2 {
    color: yellow;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}

.quantum-choices button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.quantum-choices button:hover {
    background-color: #357ab7;
}

.quantum-choices button:active {
    background-color: #2a5a8f;
}

/* bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#duel-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

#duel-results p {
    font-size: 20px;
}

.choice-display {
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 20px;
    color: yellow;
}

.choice-display img {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;

    animation: bounce 0.8s infinite;
}

.quantum-scoreboard {
    text-align: center;
    color: #e7e7e7;

    animation: bounce 0.8s infinite;
}

.quantum-scoreboard p {
    font-size: 20px;
}
/* media query for screens 600px and down*/

@media (max-width: 600px) {
    .choice-display {
        flex-basis: 100%;
    }

    .begin {
        margin-left: 35px;
    }

    #rules p, ul {
        margin-left: auto;
    }

    .choice-display img {
        width: 250px;
    }
}
