
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background-image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Animation for curtain raiser */
@keyframes fade-in-out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 2;
    }
}

#curtain-raiser {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:yellow;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
}

.curtain {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    animation: fade-in-out 3s ease-in-out infinite;
}


#container {
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
}

#logo {
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
    font-size: 40px;
    letter-spacing: 2px;

    animation: breathe 2s infinite;
}

header p {
    color: aqua;
    font-size: 15px;
    letter-spacing: 1px;
}

/* Keyframes for the breathing effect */
@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
        opacity: 2;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.6;
    }
}

#rules-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 1em;
    margin-top: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quantum-choices,
#duel-results {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#rules p,
ul {
    color: #000000;
    letter-spacing: 1px;
    margin-left: 26px;
    margin: 10px;
}

strong {
    color: yellow;
}

#rules {
    background-color: aqua;
    border-radius: 5px;

}

#rules h2 {
    font-size: 25px;
    text-align: center;
    color: red;
}

#rules i {
    margin-left: 50%;
}

.quantum-choices h2 {
    color: yellow;
    font-size: 30px;
    margin-bottom: 25px;
    margin-left: 30%;
    font-weight: 500;

    animation: breathe 2s infinite;
}

.quantum-choices button {
    display: block;
    width: 80%;
    padding: 10px 15px 10px;
    margin: 10px 70px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#quantumRock, #photonPaper, #superpositionScissors,
#entangledLizard, #spockWaveFunction {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.quantum-choices button:hover {
    background-color: #357ab7;
}

.quantum-choices button:active {
    background-color: #2a5a8f;
}

/* bounce animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

#duel-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

#duel-results p {
    font-size: 20px;
}

.choice-display {
    flex-basis: 40%;
    text-align: center;
    margin-bottom: 10px;
    color: yellow;
}

.choice-display img {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;

    animation: bounce 0.8s infinite;
}

#quantum-scoreboard{
    position: static;
    background-color: black;
    padding-top: 1em;
    position: sticky;
    bottom: 0;
    z-index: 100;
}
.quantum-scoreboard {
    text-align: center;
    color: #e7e7e7;
}

.quantum-scoreboard p {
    font-size: 20px;
    padding-bottom: 0;
}

/* media query for screens 600px and down*/

@media (max-width: 600px) {

    #quantumRock,
    #photonPaper,
    #superpositionScissors,
    #entangledLizard,
    #spockWaveFunction {
        font-size: 1em;
    }
    .choice-display {
        flex-basis: 100%;
    }

   #rules-container {
       width: 310px;
       margin: 0 auto;
       background-color: rgba(0, 0, 0, 0.4);
       padding-bottom: 1em;
       margin-top: auto;
       border-radius: 10px;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   }

    #rules p{
        margin-left: 10px;
    }

    ul {
        margin-left: auto;
    }

    .choice-display img {
        width: 200px;
    }

    .quantum-choices h2 {
        margin-left: 15%;
    }

    .quantum-choices button {
        margin-left: 35px;
    }
}

/* media query for larger screens */
@media (min-width: 768px) {
    .quantum-scoreboard {
        position: sticky;
        bottom: 0;
    }
}
